<div class="container">
    <div class="row d-flex justify-content-center" data-aos="fade-down-right" data-aos-duration="500"
         data-aos-easing="linear">
        <div class="menu-content pb-60 col-lg-10"  >
            <div class="title text-center">
                <h1 class="mb-10"  >What kind of Coffee we serve for you</h1>
                <p data-aos="fade-up-left" data-aos-duration="500"
                   data-aos-easing="linear">Who are in extremely love with eco friendly system.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"  data-aos="fade-right" data-aos-duration="500"
             data-aos-easing="linear">
            <a href="{{'assets/img/g1.jpg'|theme}}" class="img-pop-home">
                <img class="img-fluid" src="{{'assets/img/g1.jpg'|theme}}" alt="">
            </a>
            <a href="{{'assets/img/g2.jpg'|theme}}" class="img-pop-home">
                <img class="img-fluid" src="{{'assets/img/g2.jpg'|theme}}" alt="">
            </a>
        </div>
        <div class="col-lg-8"  data-aos="fade-up-left" data-aos-duration="1000"
             data-aos-easing="linear">
            <a href="{{'assets/img/g3.jpg'|theme}}" class="img-pop-home">
                <img class="img-fluid" src="{{'assets/img/g3.jpg'|theme}}" alt="">
            </a>
            <div class="row">
                <div class="col-lg-6" data-aos="fade-up-right" data-aos-duration="500"
                     data-aos-easing="linear">
                    <a href="{{'assets/img/g4.jpg'|theme}}" class="img-pop-home">
                        <img class="img-fluid" src="{{'assets/img/g4.jpg'|theme}}" alt="">
                    </a>
                </div>
                <div class="col-lg-6" data-aos="fade-up-left" data-aos-duration="500"
                     data-aos-easing="linear">
                    <a href="{{'assets/img/g5.jpg'|theme}}" class="img-pop-home">
                        <img class="img-fluid" src="{{'assets/img/g5.jpg'|theme}}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

